@import "var";

body {
    .contacA {
        position: fixed;
        left: 0;
        top: 259px;
        display: none;
        z-index: 0;
        img {
            width: 80%;
            
            
        }
      
    }
    .contacB {
        display: none;
    }
    .box {
        display: none;
        
    }
    
    /////////////// Computer advertisements only!!!!////
    main {
        .contacHER {
            height: 50px;
            font-size: 30px;
            margin: -20px auto;
            display: block;
        }
    }


    #formcontac {
        border: 3px black solid;
        border-radius: 10px;
        width: 80%;
        max-width: 320px;
        margin: 30px auto 200px;
       // height: 60vh;
        background-color: $grayback;
        z-index: 1;


        .form {
            margin: 15px auto;


            .fn,
            .ln,
            .client {
                border: 3px black solid;
                padding: 10px;
                font-size: 10px;
                background-color: white;
                width: 100px;
                height: 30px;
                font-size: 18px;
               // border: 1px black solid;

            }

            #botom {
                background-color: white;
                border-radius: 10px;
                height: 30px;
                width: 50px;
                font-size: 15px;
                border: 1px black solid;
            }

            .formattribut {
                background-color: white;  
                width: 200px;
                font-size: 18px;
            }


        }

    }
  
}
@media only screen and (min-width: 900px) {
    body {
        .contacB {
            display: block;
        }
        .contacA {
            display: inline-block;
        }
        .contacC {
            display: inline-block;
            margin: 20px auto;
         
           
        }
        .box {
            background-color: silver;
            display: inline-block;
            position: fixed;
            top: 170px;
            right: 20px;
            width: 250px;
            height: 400px;
            padding: 10px;
            .boximg {
                img {
                    margin: 10px auto;
                }
            }
             /////////////// Computer advertisements only!!!!////
          
        }
        main {
            .contacHER {
                display: none;
            }
        }
           
    }
    #formcontac {
        width: 500px;
    }
}
